<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register Login-Lynx Account</title>
  </head>
  <body>
    <form style="display: flex" action="/api/v1/auth/" method="post">
      <input placeholder="name" type="text" name="name" id="name" />
      <input placeholder="email" type="email" name="email" id="email" />
      <input
        placeholder="password"
        type="password"
        name="password"
        id="password"
      />
      <button type="submit">Register</button>
    </form>
    <a href="/api/v1/auth/login">or Login</a>
  </body>
</html>
